certifi==2020.12.5
chardet==4.0.0
decorator==4.3.2
future==0.18.2
gradient-sdk==0.0.4
hyperopt==0.1.2
idna==2.10
networkx==2.2
numpy==1.16.6
pandas==0.24.2
Pillow==9.3.0
py4j==0.10.9
pymongo==3.11.3
pyspark==3.0.2
python-dateutil==2.8.1
pytz==2021.1
requests==2.25.1
scipy==1.2.3
six==1.15.0
tqdm==4.60.0
typing==3.7.4.3
urllib3==1.26.4
