version: 0

type: "single"
ports: "5000"
worker:
  container: "tensorflow/tensorflow:1.13.1-gpu-py3"
  command: "python mnist.py && ls -Ral /artifacts"
  machine-type: "K80"
  count: 1
model:
  type: Tensorflow
  path: '/artifacts'
checks:
  tensorflow:loss:
    target: 0.0..1.0
    aggregate: max
  tensorflow:accuracy:
    target: 0.988..1.000
    aggregate: median
  defaults:
precision: 2
