version: 1

type: "multi-grpc"
ports: "5000"
parameter_server:
  container: "tensorflow/tensorflow:1.13.1-gpu-py3"
  command: "python mnist.py && ls -Ral /artifacts"
  machine-type: "K80"
  count: 1
worker:
  container: "tensorflow/tensorflow:1.13.1-gpu-py3"
  command: "python mnist.py"
  machine-type: "K80"
  count: 2
model:
  type: Tensorflow
  path: '/artifacts'
checks:
  tensorflow:loss:
    target: 0.0..1.0
    aggregate: max
  tensorflow:accuracy:
    target: 0.988..1.000
    aggregate: median
  defaults:
    precision: 3
